<div class="tab-pane fade show active" id="edit-item" role="tabpanel" aria-labelledby="home-tab">
    <div class="card-show mb mt-4">
        <div class="card-body">
            <form action="/admin/item/<%= item.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" value="<%= item.title %>" required id="title" name="title"
                        placeholder="Input Title" />
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" required value="<%= item.city %>" id="city" name="city"
                        placeholder="Input City" />
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" class="form-control" required value="<%= item.price %>" id="price" name="price"
                        placeholder="Input Price" />
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select name="categoryId" id="categoryId" class="form-control">
                        <option value="<%= item.categoryId.id %>">--- <%= item.categoryId.name %> ---</option>
                        <% for (let i = 0; i < category.length; i++) { %>
                        <option value="<%= category[i].id %>"><%= category[i].name %></option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input type="file" class="form-control" multiple id="image" name="image" />
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea type="file" class="form-control" id="description" name="description">
                        <%= item.description %> </textarea>
                </div>
                <a href="/admin/item" class="btn btn-warning mt-3"><i class="fas fa-arrow-left"></i> Back</a>
                <button type="submit" class="btn btn-primary mt-3">Save changes</button>
            </form>
        </div>
    </div>
</div>