<div
  class="tab-pane fade show active"
  id="show-featured"
  role="tabpanel"
  aria-labelledby="home-tab">
  <div class="card shadow mb-4">
    <div class="row">
      <div class="col-5">
        <form
          action="/admin/item/add/featured"
          class="ml-3"
          method="POST"
          enctype="multipart/form-data">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              required
              id="name"
              name="name"
              placeholder="Input Name" />
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input
              type="number"
              class="form-control"
              required
              id="quantity"
              name="qty"
              placeholder="Input Quantity" />
          </div>
          <div class="form-group">
            <label for="image">Image</label>
            <input
              type="file"
              class="form-control"
              multiple
              required
              id="image"
              name="image" />
          </div>
          <input
            type="hidden"
            class="id"
            value="<%= itemId %>"
            name="itemId" />
          <button
            type="submit"
            class="btn btn-primary">
            Save
          </button>
        </form>
      </div>
      <div class="col-7">
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-bordered"
              id="dataTable"
              width="100%"
              cellspacing="0">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Name</th>
                  <th>Quantity</th>
                  <th>Image</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% for (let i = 0; i < featured.length; i++) { %>
                <tr>
                  <td><%= i + 1 %></td>
                  <td><%= featured[i].name %></td>
                  <td><%= featured[i].qty %></td>
                  <td class="text-center">
                    <img
                      src="https://tripvacation-server.vercel.app/<%= featured[i].imageUrl %>"
                      alt=" <%= featured[i].name %>"
                      class="img-fluid"
                      width="60" />
                  </td>
                  <td>
                    <form
                      action="/admin/item/<%= itemId %>/featured/<%= featured[i].id %>?_method=DELETE"
                      method="POST">
                      <a
                        href="javascript:void()"
                        type="button"
                        class="btn btn-warning btn-circle btn-sm button-update-featured"
                        data-id="<%= featured[i].id %>"
                        data-name="<%= featured[i].name %>"
                        data-qty="<%= featured[i].qty %>">
                        <i class="fas fa-edit"></i>
                      </a>
                      <button
                        type="submit"
                        class="btn btn-danger btn-circle btn-sm">
                        <i class="fas fa-trash"></i>
                      </button>
                    </form>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
